<aside id="sidebar">
    <div class="sidebar-inner c-overflow">
        <div class="profile-menu">
            <a href="">
                <div class="profile-pic">
                    <img src="Content/img/profile-pics/1.jpg" alt="">
                </div>

                <div class="profile-info">
                    Malinda Hollaway

                    <i class="md md-arrow-drop-down"></i>
                </div>
            </a>

            <ul class="main-menu">
                <li>
                    <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                </li>
                <li>
                    <a href=""><i class="md md-settings-input-antenna"></i> Privacy Settings</a>
                </li>
                <li>
                    <a href=""><i class="md md-settings"></i> Settings</a>
                </li>
                <li>
                    <a href=""><i class="md md-history"></i> Logout</a>
                </li>
            </ul>
        </div>

        <ul class="main-menu">
            <li class="active"><a href="index.html"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li class="sub-menu">
                <a href=""><i class="fa fa-briefcase"></i> Portfolio</a>
                <ul>
                    <li><a href="widget-templates.html">Active</a></li>
                    <li><a class="active" href="widgets.html">All Portfolios</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href=""><i class="fa fa-binoculars"></i> Watchlists</a>

                <ul>
                    <li><a href="tables.html">Your Watchlist</a></li>
                    <li><a href="data-tables.html">Industry Watchlist</a></li>
                </ul>
            </li>
            <li><a href="index.html"><i class="fa fa-money"></i> Securities</a></li>
            <li class="sub-menu">
                <a href=""><i class="fa fa-search"></i> Scans</a>

                <ul>
                    <li><a href="form-elements.html">Scan Profiles</a></li>
                    <li><a href="form-components.html">Daily Scans</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
