<aside id="sidebar" ng-controller ="SidebarController as vm">
    <div class="sidebar-inner c-overflow">
        <div class="profile-menu">
            <a href="">
                <div class="profile-pic">
                    <img src="Content/img/profile-pics/1.jpg" alt="">
                </div>

                <div class="profile-info">
                    John Doe

                    <i class="md md-arrow-drop-down"></i>
                </div>
            </a>

            <ul class="main-menu">
                <li>
                    <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                </li>
                <li>
                    <a href=""><i class="md md-settings-input-antenna"></i> Privacy Settings</a>
                </li>
                <li>
                    <a href=""><i class="md md-settings"></i> Settings</a>
                </li>
                <li>
                    <a href=""><i class="md md-history"></i> Logout</a>
                </li>
            </ul>
        </div>

        <ul class="main-menu">
            <li class="active"><a href="dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li class="sub-menu">
                <a href=""><i class="fa fa-briefcase"></i> Portfolio</a>
                <ul>
                    <li><a href="/portfolio/getPortfolio">Active</a></li>
                    <li><a href="/#/portfolio/getAllPortfolios">All Portfolios</a></li>
                </ul>
            </li>
            <li><a href="/#/watchlist"><i class="fa fa-binoculars"></i> Watchlists</a></li>
            <li><a href="/#/securities"><i class="fa fa-money"></i> Securities</a></li>
            <li><a href="/#/scans"><i class="fa fa-search"></i> Scans</a></li>
        </ul>
    </div>
</aside>
